* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
  
    font-family: merriweather, serif;
    font-weight: 200;
   
}

.legend {
    margin-top: 25px;
    font-size: 18px;
    /* margin-left: -51px;*/
    margin-bottom: 30px;
} 

header {
    background-color: #093145;
    margin: 0 auto;
    font-size: 7px;
    padding: 0;
    width: 100%;
    /* height: 12vh; */
    margin-left: -20px;
    padding-top: 20px;
    padding-bottom: 12px;
}

input[type=text] { 
    /* width: 150%; */
width: 100%;
/* padding: 12px 20px 12px 14px; */
margin: 8px 0;
/* border-radius: 5%;  */
/* margin-left: -50px; */
background-color:#E6E6FA;
padding: 0 0 0 200px;
/* margin-right: 5px; */
}

    input[type=checkbox] {
        margin-right: 10px;
        /* width: 100%; */
    }

    input[type=radio] {
        margin-right: 10px;
        /* width: 100%; */
    }

    .light {
        font-size: 14px;
        /* margin-top: -10px; */
        font-size: 12px;
    }

    
    textarea {
        /* margin-top: 20px; */
        max-width: 100%;
        height: 100px;
        padding-right: 82px;
    }

    
    #bio {
        background-color:#E6E6FA;
        /* margin-top: 20px; */

    }



/* input[type=radio] {
    margin-left: 10px;
} */

.flex-pair {
    margin-bottom: 25px;
    border: none;
}

.flex {
    margin-left: -15px;
}

.flex1 {
    margin-left: -14px;
}

.line {
    border: 2px solid black;
    margin-bottom: -6px;
    /* margin-right: 38px; */
    margin-right: 60px;
}

.line2 {
    border: 1px solid grey;
    margin-bottom: 20px;
    /* margin-right: 38px; */
    margin-right: 60px;

}

.line3 {
    border: 1px solid black;
    /* margin-right: 38px; */
    margin-bottom: 38px;
    /* margin-top: -30px; */
    margin-right: 60px;
}


.contact-info {
    /* padding: 50px 50px 35px 50px; */
    border: none;
    font-size: 12px;
    width: 20%;
    margin-left: -15px;
}

fieldset {
    border: none;
}

fieldset.flex {
    font-size: 14px;
}

.contact-info label {
    margin-bottom: 10px;
    /* margin-left: -50px; */
}

.contact-info input {
    height: 50px;
    margin-bottom: 15px;
}


.code {
    text-align: center;
    color: white;
    margin-left: -20px;
}

.sign {
    text-align: center;
    font-size: 10px;
    margin-left: -59px;
}

.latest {
    text-align: center;
    font-size: 10px;
    margin-right: 50px;
}

body {
    font-family: merriweather, serif;
}

.html {
    padding-bottom: 14px;
}

.css {
    padding-bottom: 14px;
}

.javascript {
    margin-bottom: 10px;
}

.other {
    margin-bottom: 20px;
    font-size: 11px;
}

.radio {
    margin-bottom: 10px;
    margin-top: 10px;
}

.copyright {
    text-align: center;
    color:#D3D3D3;
    font-family: Satisfy, cursive;
    margin-right: 40px;

}

.select {
    font-size: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}


button {
    padding: 19px 39px 18px 39px;
    color: white;
    background-color:#4bc970;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 80%;
    border-width: 1px 1px 3px;
    margin-bottom: 10px;
}

form {
    width: 90%;
    margin: auto;
    max-width: 900px;
}

@media (min-width: 768px) {
    .contact-info .flex-pair {
        display: flex;
        /* flex-direction: flow; */
    }

    .contact-info input {
        flex-grow: 1;
        flex-basis: 75%;
    }

    .contact-info label {
        flex-basis: 25%;
        height: 50px;
        margin: auto 0;
    }

    /* #telephone {
        max-width: 25%;
    } */
}